<h1>The Posts Page</h1>

<!-- USING for loop -->
<% for (var i = 0; i < posts.length; i++) { %>
  <li>
    <%= posts[i].title %> - <strong><%= posts[i].author %></strong>
  </li>
<% } %>

<!-- USING forEach to loop through -->
<% posts.forEach(function(post){  %>
  <li>
    <%= post.title %> - <strong><%= post.author %></strong>
  </li>
<% })  %>